*.iml
.gradle
/local.properties
/.ideabak/caches
/.ideabak/libraries
/.ideabak/modules.xml
/.ideabak/workspace.xml
/.ideabak/navEditor.xml
/.ideabak/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*
app/release

app/src/main/java/com/enesmuratuzun/darkmode/Constants.kt